@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, body>#root {
  @apply w-full antialiased bg-white overflow-x-hidden
}

.bg-terra-50 {
  background-color: #F8EDE8;
}

.bg-terra-100 {
  background-color: #ECC9BB;
}

.bg-terra-200 {
  background-color: #E1AA95;
}

.bg-terra-300 {
  background-color: #DA957B;
}

.bg-terra-400 {
  background-color: #D58668;
}

.bg-terra-500 {
  background-color: #D07655;
}

.bg-terra-600 {
  background-color: #CB6843;
}

.bg-terra-700 {
  background-color: #B95544;
}

.bg-terra-800 {
  background-color: #9F4B2C;
}

.bg-terra-900 {
  background-color: #732B1B;
}

.text-terra-50 {
  color: #F8EDE8;
}

.text-terra-100 {
  color: #ECC9BB;
}

.text-terra-200 {
  color: #E1AA95;
}

.text-terra-300 {
  color: #DA957B;
}

.text-terra-400 {
  color: #D58668;
}

.text-terra-500 {
  color: #D07655;
}

.text-terra-600 {
  color: #CB6843;
}

.text-terra-700 {
  color: #B95544;
}

.text-terra-800 {
  color: #9F4B2C;
}

.text-terra-900 {
  color: #732B1B;
}

.border-terra-50 {
  border-color: #F8EDE8;
}

.border-terra-100 {
  border-color: #ECC9BB;
}

.border-terra-200 {
  border-color: #E1AA95;
}

.border-terra-300 {
  border-color: #DA957B;
}

.border-terra-400 {
  border-color: #D58668;
}

.border-terra-500 {
  border-color: #D07655;
}

.border-terra-600 {
  border-color: #CB6843;
}

.border-terra-700 {
  border-color: #B95544;
}

.border-terra-800 {
  border-color: #9F4B2C;
}

.border-terra-900 {
  border-color: #732B1B;
}

:root {
  font-family: "Open Sans";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p, h1, h2, h3, h4, h5, h6 {
  @apply mb-5
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
